body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: rgb(51, 51, 51);
    background-color: #fff;
}
div {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
span {
    cursor: default;
}
.topBar {
    position: fixed;
    width: 100%;
    height: 3.5em;
    background-color: rgb(86, 107, 255);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5) ;
    z-index: 2;
}
.title {
    position: sticky;
    top: 0;
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .1em;
    color:rgb(255, 219, 34);
    margin-bottom: 2em;
    padding: .1em 15vw .25em;
    z-index: 3;
}
.container {
    min-width: 55em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}
.innerContainer {
    padding: 0 1em;
    background-color: rgb(233, 233, 233);
}
.object {
    display: flex;
    margin: 1em 0;
    padding: 1em;
    background-color: rgb(218, 218, 218);
    z-index: 0;
}
#openShortcuts span{
    color: rgb(86, 107, 255);
    transition-duration: 200ms;
}
#openShortcuts:hover span{
    color: rgb(69, 85, 207);
    cursor: pointer;
}
.objHeader, .innerObj{
    display: flex;
    flex-direction: column;
    size: 1
}
.domain, .url, .settings, .indvSettings, .subDomain {
    display: flex;
    box-sizing: border-box;
    height: 4.5rem;
}
.domain, .url, .subDomain {
    font-size: 16px;
    padding: 1.65em;
    background-color: rgb(208, 208, 208);
}
.settings, .indvSettings{
    position: relative;
}
.domain, .settings {
    z-index: 1;
}
.url, .indvSettings {
    position: absolute;
    transform: translate(0, -100%);
    opacity: 0;
    transition: none;
    z-index: -1;
}
.domain {
    font-weight: bold;
}
#domainBB, #domainUrl {
    transition-duration: 200ms;
}
#domainBB:hover, #domainUrl:hover,
#domainBB:hover span, #domainUrl:hover span
{cursor: pointer;
    background-color: initial;
}
.url, .subDomain {
    font-size: inherit;
    padding: 1.75em;
}
#domainBB[checked="true"] ~ .url,
#domainUrl[checked="true"] ~ .url,
#domainBBInfo[checked="true"] ~ .indvSettings,
#domainUrlInfo[checked="true"] ~ .indvSettings {
    position: relative;
    transform: translate(0);
    opacity: 1;
    z-index: 0;
    transition: transform 250ms ease-out,
                opacity 250ms ease-out 150ms;
}
.sepLine {
    width: 1px;
    min-height: 4.5rem;
    background-color: rgb(150, 150, 150);
}
.setting {
    display: flex;
    padding: 1.75em;
    background-color: rgb(208, 208, 208);
}
.more {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 2em;
    height: 1.2em;

}
.dots {
    content: '';
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: rgb(77, 77, 77);
}
.selecHeader {
    margin-right: 1em;
}
.selec {
    margin: 0;
    outline: none;
}
input[type="checkbox"] {
    position: relative;
    margin-top: 0;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}
.expand {
    -webkit-appearance: none;
    outline: none;
    cursor: initial;
}
.expand::before {
    position: absolute;
    left: 0;
    top: 7px;
    content: '';
    width: 10px;
    height: 2px;
    background-color: rgb(86, 107, 255);
    transform: rotate(45deg);
    transition: transform 150ms ease-out;
}
.expand::after {
    position: absolute;
    right: 0;
    top: 7px;
    content: '';
    width: 10px;
    height: 2px;
    background-color: rgb(86, 107, 255);
    transform: rotate(-45deg);
    transition: transform 150ms ease-out;

}
.expand[checked="true"]::before {
    transform: rotate(-45deg);
}
.expand[checked="true"]::after {
    transform: rotate(45deg);
}
.selec {
    margin: 0;
}

