body {
    font-size: 15px;
    margin: 0;
    padding: .2em;
    width: 17em;
    background-color: #4c5ed6;
    font-family: Arial, Helvetica, sans-serif;
}
div {
    color: #fffde8;
    margin: .4em;
}
span {
    word-wrap: none;
}
.title {
    color: #ffe367;
    font-size: 1.7em;
    font-weight: bold;
    padding-left: .4em;
}
.icon {
    position: fixed;
    width: 1.3em;
    right: .4em;
}
#info, #url, #type {
    margin-bottom: 1em;
}
.selecHeader {
    margin-right: .5em;
}
.float {
    margin: 0;
    padding: 0;
    float: right;
}
#textinput {
    margin: 0;
    border: 0;
}
#select {
    margin: 0;

}
input[type="button"] {
    float: right;
    border: 0;
    border-radius: .1em;
    background-color: rgba(255, 255, 255, 1);
}
input[type="button"]:hover {
    background-color: rgba(255, 255, 255, .8);
}